In [9]:
import pandas as pd

In [10]:
person ={
    "First": "Alif",
    "Last":"Kamate",
    "Email":"Alifkamate@gmail.com"
}

In [11]:
people ={
    'first':['corey'],
    'last':['schafer'],
    'email':['coreyMSchafer@gmail.com']
}

In [19]:
people = {
    'first':['alif','kunal','amir'],
    'last':['kamate','chavan','nadaf'],
    'email':['alif@gmail.com','kunal@gmail.com','amir@gmail.com'],
    'count':[1,2,3]
}

In [20]:
people['email']

['alif@gmail.com', 'kunal@gmail.com', 'amir@gmail.com']

In [21]:
df = pd.DataFrame(people)

In [22]:
df

   first    last            email  count
0   alif  kamate   alif@gmail.com      1
1  kunal  chavan  kunal@gmail.com      2
2   amir   nadaf   amir@gmail.com      3

In [23]:
df['email']

0     alif@gmail.com
1    kunal@gmail.com
2     amir@gmail.com
Name: email, dtype: object

In [24]:
type(df['email'])

pandas.core.series.Series

In [25]:
# this is also valid 
df.email

0     alif@gmail.com
1    kunal@gmail.com
2     amir@gmail.com
Name: email, dtype: object

In [28]:
df.count # this is giving us an a wrong data 
df['count']

0    1
1    2
2    3
Name: count, dtype: int64

In [30]:
df[['first','email']]

   first            email
0   alif   alif@gmail.com
1  kunal  kunal@gmail.com
2   amir   amir@gmail.com

df.columns

## how to access a rows of the dataframe
* loc
* iloc

## iloc
we can think as an a function : - `iloc(rows,columns)`
<p>which can acess the multple values as well</p>
* <kbd>iloc[[rows],[columns]]</kbd>

In [36]:
df.iloc[0] # returns the series of the first persons columns

first              alif
last             kamate
email    alif@gmail.com
count                 1
Name: 0, dtype: object

In [41]:
# to get the multiple rows of the dataframe
df.iloc[[0,1],[0,2]]

   first            email
0   alif   alif@gmail.com
1  kunal  kunal@gmail.com

## loc : searching by labels

In [42]:
df

   first    last            email  count
0   alif  kamate   alif@gmail.com      1
1  kunal  chavan  kunal@gmail.com      2
2   amir   nadaf   amir@gmail.com      3

In [43]:
df.loc[0]

first              alif
last             kamate
email    alif@gmail.com
count                 1
Name: 0, dtype: object

In [44]:
df.loc[[0,1]]

   first    last            email  count
0   alif  kamate   alif@gmail.com      1
1  kunal  chavan  kunal@gmail.com      2

In [45]:
df.loc[[0,1],'email']

0     alif@gmail.com
1    kunal@gmail.com
Name: email, dtype: object

In [46]:
df.loc[[0,1],['first','email']]

   first            email
0   alif   alif@gmail.com
1  kunal  kunal@gmail.com