In [1]:
import pandas as pd

In [14]:
people = {
    'first':['alif','kunal','amir'],
    'last':['kamate','chavan','nadaf'],
    'email':['alif@gmail.com','kunal@gmail.com','amir@gmail.com'],
    'id':[1,2,3]
}

In [15]:
df = pd.DataFrame(people)

In [16]:
df

   first    last            email  id
0   alif  kamate   alif@gmail.com   1
1  kunal  chavan  kunal@gmail.com   2
2   amir   nadaf   amir@gmail.com   3

In [17]:
df['email']

0     alif@gmail.com
1    kunal@gmail.com
2     amir@gmail.com
Name: email, dtype: object

In [22]:
df.set_index('first', inplace=True)

In [23]:
df

         last            email
first
alif   kamate   alif@gmail.com
kunal  chavan  kunal@gmail.com
amir    nadaf   amir@gmail.com

In [24]:
df.index

Index(['alif', 'kunal', 'amir'], dtype='object', name='first')

In [27]:
df.loc['alif', 'last']

'kamate'

In [28]:
df.iloc[0]

last             kamate
email    alif@gmail.com
Name: alif, dtype: object

In [29]:
df.reset_index(inplace=True)

In [30]:
df

   first    last            email
0   alif  kamate   alif@gmail.com
1  kunal  chavan  kunal@gmail.com
2   amir   nadaf   amir@gmail.com